name: Environment Main - Plan

on:
  pull_request: {}

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  envtest:
    name: Environment Main - Plan
    runs-on: ubuntu-latest
    environment: primary-ro
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Checkout code
      uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '24'

    - name: Install esbuild
      run: npm install -g esbuild

    - name: Compile, check and test graphql
      run: IN_PIPELINE=true ENVIRONMENT=${{ vars.ENVIRONMENT }} make graphql

    - name: Test ui
      run: IN_PIPELINE=true ENVIRONMENT=${{ vars.ENVIRONMENT }} make ui-test

    - name: Run codacy-coverage-reporter
      uses: codacy/codacy-coverage-reporter-action@a38818475bb21847788496e9f0fddaa4e84955ba
      with:
        project-token: ${{ secrets.CODACY_API_TOKEN }}
        coverage-reports: graphql/coverage/lcov.info, ui/coverage/lcov.info

    - name: Create weapon data file
      env:
        WEAPON_DATA: ${{ secrets.DELTAGREEN_WEAPONS_JSON }}
      run: |
        if [ -n "$WEAPON_DATA" ]; then
          echo "$WEAPON_DATA" > deltagreen-weapons.json
          echo "Created deltagreen-weapons.json from repository secret"
        else
          echo "No weapon data secret found, proceeding without weapon presets"
        fi

    - name: Generate favicon
      run: make favicon

    - name: Configure AWS Access
      uses: aws-actions/configure-aws-credentials@4a7f27f713a42abd21397c463a680c7fdb2c4f65
      with:
        role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT }}:role/${{ vars.AWS_ROLE }}
        role-session-name: GitHubTest-${{ vars.ENVIRONMENT }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: terraform plan
      uses: dflook/terraform-plan@7878bff63e2099cdc9be9a6f33cbbbf687f8f0fe
      with:
        path: terraform/environment/wildsea
        variables: |
          environment="${{ vars.ENVIRONMENT }}"
          saml_metadata_url="${{ secrets.SAML_METADATA_URL }}"
          domain_name="${{ vars.DOMAIN_NAME }}"
          google_client_id="${{ secrets.GOOGLE_CLIENT_ID }}"
          google_client_secret="${{ secrets.GOOGLE_CLIENT_SECRET }}"
          sns_alarm_topic_arn="${{ vars.SNS_ALARM_TOPIC_ARN }}"
        backend_config:
          bucket=${{ vars.STATE_BUCKET }}
          key=${{ vars.ENVIRONMENT }}/terraform.tfstate
          region=${{ vars.AWS_REGION }}

