name: Terraform Validation

on:
  pull_request:
    paths:
    - terraform/environment/wildsea/**
    - terraform/modules/wildsea/**
  push:
    branches:
    - main

jobs:
  terraform:
    name: Validate Terraform
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
    - name: Generate favicon
      run: make favicon
    - name: Validate Terraform
      uses: dflook/terraform-validate@4cef5d8a4b92bcd88486e41e22a42942a382c9d6
      with:
        path: terraform/environment/wildsea
      