name: Terraform Validation

on:
  pull_request:
    paths:
    - terraform/environment/wildsea/**
    - terraform/modules/wildsea/**
  push:
    branches:
    - main

jobs:
  terraform:
    name: Validate Terraform
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - name: Generate favicon
      run: make favicon
    - name: Validate Terraform
      uses: dflook/terraform-validate@03889814f1c6cf2fea714787218b2f4edc85c369
      with:
        path: terraform/environment/wildsea
      